<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout-admin :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-navbar},
                                                ~{:: #home-sidebar},
                                                ~{:: #home-main-content},
                                                ~{:: #home-spinner}
                                               )}">

<head>
    <title>Title of Home Page</title>
    <th:block id="home-static-resources">

    </th:block>
</head>
<body>

<div id="home-spinner" th:replace="~{/fragments/app-fragments :: spinner}">
</div>

<div id="home-navbar" th:replace="~{/fragments/app-fragments :: navbar}">
</div>

<div id="home-sidebar" th:replace="~{/fragments/app-fragments :: sidebar}">
</div>

<div id="home-main-content">

    <div class="row g-4">

        <div class="col-sm-12 mt-2 col-xl-12">

            <div class="bg-light rounded h-100 p-4">
                <form class="d-none m-4 d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <h6 class="mb-4">Xem chi tiết danh sách phim</h6>


                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="col-12">
                        <button class="btn btn-primary">Thêm Phim</button>
                        <div class="bg-light rounded h-100 p-4">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">Ảnh phim</th>
                                        <th scope="col">Tên Phim</th>
                                        <th scope="col">Thể Loại</th>
                                        <th scope="col">Quốc gia</th>
                                        <th scope="col">Xem chi tiết</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>jhon@email.com</td>
                                        <td>USA</td>
                                        <td><button class="btn btn-primary">Xem chi tiết</button></td>


                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>